<nav class="navbar navbar-expand-lg sub-menu w-100 p-3">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <div class="navbar-nav d-flex flex-row justify-content-between w-100">
        <div>
          <button mat-fab class="fab-button" (click)="changeLayout('table')">
            <i class="bi bi-table"></i>
          </button>
          <button
            mat-fab
            class="fab-button ms-3"
            (click)="changeLayout('cards')"
          >
            <i class="bi bi-postcard-heart"></i>
          </button>
        </div>
        <div
          class="page-search d-flex justify-content-center align-items-center mx-4 w-50"
        >
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Search..."
            (input)="searchPets($event)"
            [(ngModel)]="term"
          />
        </div>
        <div>
          <button
            mat-fab
            class="fab-button fab-success"
            data-bs-toggle="modal"
            data-bs-target="#mainModal"
          >
            <i class="bi bi-plus-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
