<div class="flex flex-row bg-slate-200 w-full h-15 py-3 justify-between px-3">
<ul class="sub-menu sub-menu-layout flex flex-row">
  <li class="">
    <button
    class="border py-2 px-4 rounded bg-yellow-400"
    (click)="changeLayout('table')"
  >
    table view
  </button>
  </li>
  <li class="ml-2">
    <button
    class="border py-2 px-4 rounded bg-yellow-400"
    (click)="changeLayout('cards')"
  >
    cards view
  </button>
  </li>
</ul>
<ul class="sub-menu sub-menu-edit flex flex-row">
  <li class="ml-2">
    <button
    class="border py-2 px-4 rounded bg-green-600"

  >
    Add
  </button>
  </li>

</ul>
</div>
