<mat-card class="signup-card">
  <form class="" [formGroup]="registerForm" (ngSubmit)="proceedRegistration()">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Create an account</mat-card-title>
      <mat-card-subtitle>Please fill the form below</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <mat-form-field class="w-100">
              <mat-label>First Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="firstName"
                placeholder="Enter your first name"
              />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-form-field class="w-100">
              <mat-label>Last Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="LastName"
                placeholder="Enter your last name"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <mat-form-field class="w-100">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="Ex. email@example.com"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <mat-form-field class="w-100">
              <mat-label>Password</mat-label>
              <input
                matInput
                id="password"
                name="password"
                type="password"
                formControlName="password"
                placeholder="******************"
              />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <mat-form-field class="w-100">
              <mat-label>Password confirmaion</mat-label>
              <input
                matInput
                id="password_confirmation"
                name="password_confirmation"
                type="password"
                formControlName="password_confirmation"
                placeholder="******************"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="flex-column">
      <button mat-fab extended color="primary" type="submit">Sign up</button>
      <a class="my-4" routerLink="/login"> Back to login </a>
    </mat-card-actions>
  </form>
</mat-card>
