<!-- Modal -->
<div
  class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
  [ngClass]="modalSize == 'large' ? 'modal-lg' : ''"
>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">
        {{ title | titlecase }}
      </h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>

    <ng-content></ng-content>
  </div>
</div>
