
<div class="d-flex flex-column flex-shrink-0 p-3 h-100" style="width: 280px;">
  <ul class="nav nav-pills flex-column mb-auto ">
    <li class="mb-2">
      <a href="/dashboard"  [ngClass]="this.route == '/dashboard' ? 'active' : ''" class="w-100 btn btn-outline-primary shadow">
        <i class="bi bi-speedometer2"></i>
        Dashboard
      </a>
    </li>
    <li class="mb-2">
      <a href="/pets" [ngClass]="this.route == '/pets' ? 'active' : ''" class="w-100 btn btn-outline-primary shadow">
        <i class="bi bi-card-list"></i>
        Pets
      </a>
    </li>
    <li class="mb-2">
      <a href="/litters" [ngClass]="this.route == '/litters' ? 'active' : ''" class="w-100 btn btn-outline-primary shadow">
        <i class="bi bi-water"></i>
        Litters
      </a>
    </li>

  </ul>
</div>
