<mat-card class="login-card">
  <form class="" [formGroup]="loginForm" (ngSubmit)="proceedLogin()">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle
        >Please enter your username and password</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
          >Please enter a valid email address</mat-error
        >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          name="password"
          type="password"
          formControlName="password"
          placeholder="******************"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-fab extended color="primary" type="submit">Sign in</button>
      <a
        class="text-purple-500 hover:text-purple-900 transition-all px-3 focus:shadow-outline focus:outline-none my-4"
        routerLink="/register"
      >
        Back to Sign Up
      </a>
    </mat-card-actions>
  </form>
</mat-card>
