/* You can add global styles to this file, and also import other style files */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @bootstrap base; */

:root{
  --first-color: #651fff;
  --second-color: #F5F5F5;
  --accent-color-1: #651fff;
  --success-color-1: #4caf50;
  --edit-color-1: #f7e54f;
  --delete-color-1: #ff8541;
  --male-color-1: #3d8bfd;
  --female-color-1: #de5c9d;
}

.mat-mdc-radio-button.mat-accent{
  --mdc-radio-selected-pressed-icon-color:var(--accent-color-1)!important;
  --mat-mdc-radio-checked-ripple-color:var(--accent-color-1)!important;
  --mdc-radio-selected-pressed-icon-color:var(--accent-color-1)!important;
  --mdc-radio-selected-icon-color:var(--accent-color-1)!important;
  --mdc-radio-selected-hover-icon-color:var(--accent-color-1)!important;
  --mdc-radio-selected-focus-icon-color:var(--accent-color-1)!important;
}
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}
.main-wrapper{
  min-height: calc(100vh - 56px - 2rem);
}
.content-wrapper{
  background-color: var(--second-color);
  border-radius: 0.375rem;
}
.top-menu{
  background-color: var(--first-color);
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}
.sub-menu{
  border-radius: 0.375rem 0.375rem 0 0;
  background-color: var(--second-color);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: var(--first-color);
}
app-top-menu > .navbar {
  border-radius: 0.375rem;
}

button.fab-button {
  border: 0;
  border-radius: 50%;
  font-size: 24px;
  height: 50px;
  width: 50px;
  transition: .3s;
  background-color: var(--accent-color-1);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  color: white;
}

button.fab-button.fab-success {

  background-color: var(--success-color-1);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.btn-outline-primary {
  --bs-btn-color: var(--first-color);
  --bs-btn-border-color: var(--first-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--first-color);
  --bs-btn-hover-border-color: var(--first-color);
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--first-color);
  --bs-btn-active-border-color: var(--first-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--first-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--first-color);
  --bs-gradient: none;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--first-color);
  --bs-btn-border-color: var(--first-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--first-color);
  --bs-btn-hover-border-color: var(--first-color);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--first-color);
  --bs-btn-active-border-color: var(--first-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--first-color);
  --bs-btn-disabled-border-color: var(--first-color);
}
.card-img-top.no-image {
  height: 10rem;
  background-color: #d5d5d5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 85px;
  color: white;
}
.card-img-top {
  width: 100%;
  height: 10rem;
  max-height: 10rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card {
  border: none;
}
.card-body .pet-gender {
  height: 3rem;
  width: 3rem;
  background-color: #f5f5f5;
  border-radius: 50%;
  top: -35px;
  right: 10px;
}
.text-color-blue-400 {
  color: var(--male-color-1);
}
.text-color-pink-400 {
  color: var(--female-color-1);
}
.modal-backdrop{
  z-index: 500;
}
.modal{
  z-index: 501;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: unset;
}


.image-upload {
  opacity: 0.0;

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape or and older firefox browsers */
  -moz-opacity: 0.0;

  /* older Safari browsers */
  -khtml-opacity: 0.0;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height:100%;
}

.image-upload-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.image-upload-container .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .3s;
  opacity: 0;
  z-index: 1002;
  cursor: pointer;
  background-color: black;
}
.image-upload-container .image-overlay:hover {
  opacity: .5;
}
.image-preview .image-upload-container {
  z-index: 1001;
}
.image-upload-container .image-overlay input {
  cursor: pointer;
}
.image-preview {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.image-preview.with-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.image-preview.with-placeholder i{
  font-size: 80px;
}
.image-preview.with-placeholder label{
  font-size: 30px;
}
.page-search .form-control {
  border-radius: 25px;
}
