/* You can add global styles to this file, and also import other style files */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @bootstrap base; */

:root{
  --first-color: #651fff;
  --second-color: #F5F5F5;
  --accent-color-1: #651fff;
  --success-color-1: #4caf50;
  --edit-color-1: #f7e54f;
  --delete-color-1: #ff8541;
  --male-color-1: #3d8bfd;
  --female-color-1: #de5c9d;
}

.mat-mdc-radio-button.mat-accent{
  --mdc-radio-selected-pressed-icon-color:var(--accent-color-1)!important;
  --mat-mdc-radio-checked-ripple-color:var(--accent-color-1)!important;
  --mdc-radio-selected-pressed-icon-color:var(--accent-color-1)!important;
  --mdc-radio-selected-icon-color:var(--accent-color-1)!important;
  --mdc-radio-selected-hover-icon-color:var(--accent-color-1)!important;
  --mdc-radio-selected-focus-icon-color:var(--accent-color-1)!important;
}
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}
.main-wrapper{
  min-height: calc(100vh - 56px - 2rem);
}
.content-wrapper{
  background-color: var(--second-color);
  border-radius: 0.375rem;
}
.top-menu{
  background-color: var(--first-color);
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}
.sub-menu{
  border-radius: 0.375rem 0.375rem 0 0;
  background-color: var(--second-color);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: var(--first-color);
}
app-top-menu > .navbar {
  border-radius: 0.375rem;
}

button.fab-button {
  border: 0;
  border-radius: 50%;
  font-size: 24px;
  height: 50px;
  width: 50px;
  transition: .3s;
  background-color: var(--accent-color-1);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  color: white;
}

button.fab-button.fab-success {

  background-color: var(--success-color-1);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.btn-outline-primary {
  --bs-btn-color: var(--first-color);
  --bs-btn-border-color: var(--first-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--first-color);
  --bs-btn-hover-border-color: var(--first-color);
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--first-color);
  --bs-btn-active-border-color: var(--first-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--first-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--first-color);
  --bs-gradient: none;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--first-color);
  --bs-btn-border-color: var(--first-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--first-color);
  --bs-btn-hover-border-color: var(--first-color);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--first-color);
  --bs-btn-active-border-color: var(--first-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--first-color);
  --bs-btn-disabled-border-color: var(--first-color);
}
.card-img-top.no-image {
  height: 10rem;
  background-color: #d5d5d5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 85px;
  color: white;
}
.card-img-top {
  width: 100%;
  height: 10rem;
  max-height: 10rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.card {
  border: none;
}
.card-body .pet-gender {
  height: 3rem;
  width: 3rem;
  background-color: #f5f5f5;
  border-radius: 50%;
  top: -35px;
  right: 10px;
}
.text-color-blue-400 {
  color: var(--male-color-1);
}
.text-color-pink-400 {
  color: var(--female-color-1);
}
.modal-backdrop{
  z-index: 500;
}
.modal{
  z-index: 501;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: unset;
}


.image-upload {
  opacity: 0.0;

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape or and older firefox browsers */
  -moz-opacity: 0.0;

  /* older Safari browsers */
  -khtml-opacity: 0.0;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height:100%;
}
.pet-name * {
  margin: 0!important;
}
.pet-name {
  top: -35px;
  left: 10px;
  height: 3rem;
  background-color: #f5f5f5;
  padding: 0 1.5rem;
  border-radius: 25px;
}
.bi.fw-bold:before{
  font-weight: 700!important;
}
.image-upload-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.image-upload-container .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .3s;
  opacity: 0;
  z-index: 1002;
  cursor: pointer;
  background-color: black;
}
.image-upload-container .image-overlay:hover {
  opacity: .5;
}
.image-preview .image-upload-container {
  z-index: 1001;
}
.image-upload-container .image-overlay input {
  cursor: pointer;
}
.image-preview {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  border-radius: 5px;
}

.image-preview.with-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.image-preview.with-placeholder i{
  font-size: 80px;
}
.image-preview.with-placeholder label{
  font-size: 30px;
}
.page-search .form-control {
  border-radius: 25px;
}
.card{
  z-index: 1;
 }
.card .actions {
  opacity: 0;
  transition: .3s;
  right: -30px;
  top: -10px;
  display: inline-flex;

}

.card:hover .actions {
  z-index: 2;
  opacity: 1;
  right: 0;
  top: -10px;
}
.card .actions > div {
  border-radius: 50%;
  margin: .2rem;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  background-color: #f6f6f6;
  transition: .3s;
  border: 1px solid #3d3d3d;
}
.card .actions > div.use-for-litter:hover{
  background-color: var(--success-color-1 );
}
.card .actions > div.edit:hover{
  background-color: var(--edit-color-1 );
}
.card .actions > div.delete:hover{
  background-color: var(--delete-color-1 );
}
.card .actions > div.use-for-litter {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg height='21px' width='21px' version='1.1' id='_x32_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23000000;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M439.464,51.073c-6.026-13.266-13.941-25.629-24.903-35.19c-10.87-9.57-25.367-15.967-41.621-15.882 c-8.295-0.008-16.126,1.739-23.054,4.751c-12.177,5.3-21.367,14.101-28.414,23.535c-10.548,14.212-16.793,30.254-20.759,42.912 c-1.055,3.409-1.933,6.548-2.667,9.375h-29.055h-25.984h-29.063c-2.127-8.312-5.612-19.578-11.063-31.308 c-5.291-11.232-12.354-22.954-22.658-32.532c-5.148-4.768-11.164-8.978-18.11-11.983c-6.929-3.012-14.768-4.76-23.055-4.751 c-16.16-0.085-30.615,6.135-41.519,15.544C81.093,29.739,71.313,49.95,64.908,70.853c-6.321,20.987-9.013,42.945-9.03,61.696 c0,28.591,0,140.346,0,181.932c0.008,15.916,2.482,35.696,8.616,56.894c9.215,31.713,26.785,66.751,57.671,94.21 c30.81,27.494,75.021,46.515,133.831,46.414c39.215,0.016,71.933-8.312,98.523-22.144c39.966-20.742,65.544-53.434,80.802-86.068 c15.3-32.768,20.759-65.485,20.801-89.307c0-41.586,0-153.341,0-181.932C456.046,108.355,451.397,77.688,439.464,51.073z M424.933,314.481c0.008,12.666-2.068,29.924-7.384,48.202c-7.966,27.493-23.106,57.148-48.414,79.569 c-25.375,22.397-60.844,38.456-113.139,38.557c-34.86-0.016-62.236-7.274-84.135-18.625c-32.768-17.029-53.789-43.67-66.945-71.636 c-8.506-18.059-13.468-36.625-15.907-52.675c12.565,0,34.473,0,64.574,0c49.443,0,82.405-47.586,82.405-86.042 c0-29.578,0-106.228,0-140.076h7.021h25.984h54.869l2.109-13.097c0.025-0.414,3.392-19.536,11.797-37.012 c4.144-8.735,9.528-16.92,15.469-22.27c2.979-2.7,6.033-4.725,9.198-6.076c3.198-1.35,6.523-2.102,10.506-2.11 c8.439,0.084,14.734,2.768,21.173,8.245c9.553,8.118,17.908,23.586,23.114,41.198c5.308,17.518,7.73,36.928,7.706,51.915 C424.933,161.14,424.933,272.895,424.933,314.481z'/%3E%3Cpath class='st0' d='M253.397,350.86c-22.963,0-41.579,13.975-41.579,31.19c0,17.224,18.616,31.19,41.579,31.19 c22.97,0,41.586-13.966,41.586-31.19C294.984,364.835,276.368,350.86,253.397,350.86z'/%3E%3Ccircle class='st0' cx='333.971' cy='249.502' r='25.992'/%3E%3Cpath class='st0' d='M372.08,71.039c-17.316,0-20.793,36.388-20.793,36.388h38.126C389.413,107.426,389.396,71.039,372.08,71.039z' /%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
